.header .header-contacts {
  display: flex;
  justify-content: space-between;
  background-color: black;
  text-decoration: none;
  position: absolute;
  width: 1920px;
  height: 44px;
  left: 0;
  top: 0;
}
.header .header-nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: absolute;
  width: 1920px;
  height: 80px;
  left: 0;
  top: 44px;
}
.header .link {
  text-decoration: none;
}